{
  "env": {
    "es6": true,
    "commonjs": true
  },
  "settings": {
    "react": {
      "version": "require('./package.json').dependencies.react"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-vars": [2],
    "no-unused-vars": 0,
    "space-before-function-paren": 0,
    "no-undef": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-multi-spaces": 0,
    "no-console": 0,
    "react/display-name": 0,
    "react/no-deprecated": 0
  }
}
